* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
  justify-content: center;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  margin-left: 16px;
  margin-right: 16px;
}